.form{
    width: 900px;
    text-align: center;
}

.taskRow {
    border: 1px solid #000;
    width: 100%;
    display: flex;
    justify-content: center;
}

.taskRow {
    width: 100%;
    padding: 10px 0;
}

.taskRow label {
    margin-right: 15px;
}